<template>
  <div class="container d-flex p-0 w-100 flex-row justify-content-evenly">
    <div class="img d-flex flex-column justify-content-center m-3 bg-info rounded-5" @drop.prevent="onDrop" @dragenter.prevent @dragover.prevent >
      <h2 v-if="imageMetadata === ''" class="text-center text-white">Drag and drop an image here!</h2>
      <h2 v-else-if="imageMetadata === 'notstablediffusion'" class="text-center text-white">Not a Stable Diffusion image!</h2>
      <img v-else class="imgpreview rounded-5" :src="url" />
    </div>
    <div class="prompt d-flex flex-column justify-content-center text-center m-3 overflow-auto">
      <h2 v-if="imageMetadata === ''">Your Stable Diffusion prompt will show up here!</h2>
      <h2 v-else-if="imageMetadata === 'notstablediffusion'">No prompt metadata found!</h2>
      <div v-else>
        <p class="my-5">{{ sdprompt }}</p>
        <p class="my-5">{{ negprompt }}</p>
      </div>
    </div>
  </div>
  <div class="container d-flex p-0 w-100 flex-row justify-content-evenly">
    <p class="pt-4 text-secondary"><em>App designed for 512x512 PNG images generated via Stable Diffusion</em></p>
  </div>
</template>

<script>
  import exifr from 'exifr'
  export default {
    name: 'App',
    data () {
      return {
        url: '',
        imageMetadata: '',
        sdprompt: '',
        negprompt: '',
      }
    },
    methods: {
      onDrop(event){
        const file = event.dataTransfer.files[0]
        this.ProcessImage(file)
      },
      ProcessImage(file) {

        // If file is type PNG, parse PNG and create exifr metadata object
        if(file['type']==='image/png'){
          exifr.parse(file)
            .then(output => {

              // Create image object for preview/display and set image source to file's URI
              this.url = URL.createObjectURL(file)
              this.image = new Image()
              this.image.src = this.url

              // If image has SD metadata, split off prompts from misc information included in PNG file
              // Else, use imagemetadata value to trigger fail state and update text accordingly
              try{
                this.imageMetadata = output.parameters.split('Steps:')[0] 
              } catch{
                this.imageMetadata = 'notstablediffusion'
              }
              
              // Split primary and secondary prompts from image metadata and remove BREAK tags
              this.sdprompt = 'Prompt:  ' + this.imageMetadata.split('Negative prompt:')[0].replace(/BREAK/g, '') 
              this.negprompt = 'Negative Prompt:  ' + this.imageMetadata.split('Negative prompt:')[1]
            }
          )
        }
        else{
          this.imageMetadata = 'notstablediffusion'
        }
      },
    }
  }
</script>

<style>
  .img, .prompt, .imgpreview { 
    height: 512px;
    width: 512px;
    white-space:break-spaces;
  }
</style>